<div class="carrito">
    <li class="menu"><a class="menu-item" id="carrito2"  href="#"><i class="fas fa-cart-arrow-down"></i></a></li>
    <div class="shopCarRow">

    </div>
<br>
    <div class="content">
        <h4 class="text-center">Total Compra</h4>
        <br>
        <div class="container">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Valor Total</span>
                    <input class="form-control total-car" id="disabledInput" type="text" value="0" disabled>
                </div>
                <div class="container">
                    <input type="submit" value="Proceder a la compra" class="btn btn-success form-control">
                </div>
            
        </div>

    </div>

</div>

