

<main class="producto">
    <div class="main-product" id="main-product">
        <a href="/producto/{{product[1]}}"><img class="img" src="{{product[3]}}" alt="cafecito"></a>
    </div>
    <div class="comentarios">
        <h2 class="titulo" calss="shopCarElmTitle" > {{product[1]}} </h2>
        <p class="descripcion">
            {{product[2]}}
        </p>
        <p class="precio">
        
        </p>
        {% if g.rol == 1%}
        <form action="delproductos/{{product[1]}}" method="post"></form>
            <button class="entrar"><a  style="color:aliceblue " href="/ediproductos/{{product[0]}}">Editar</a></button>
            <button class="entrar" type="submit">Eliminar</button>
        </form>
        {%endif%}
        {% if g.rol == 3 or g.rol ==1 %}
        <button class="entrar" type="buttom" id="addcar" >add To Car </button>
        {%endif%}
        <div class="shopCarRow"></div>
    </div>
</main>